@using System.Web.Optimization
<!DOCTYPE html>
<html ng-app="YankeesCodeChallenge">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <title>@ViewBag.Title</title>

        @Styles.Render("~/Content/Styles/Bundles/default-style")
        @Scripts.Render("~/Content/Scripts/Bundles/default-scripts")
        
        <script type="text/javascript" language="javascript">
            var baseUrl = "@Url.Content("~/")";
        </script>
    </head>
    <body>
        <div id="header" class="container_12">
            @{ Html.RenderPartial("_TopNavigation"); }
        </div>
        <div id="main-content" class="container_12">
            @RenderBody()
        </div>
        <div id="footer" class="container_12">
            <span class="right">Michael Levine</span>
        </div>
    </body>
</html>
